.AddProduct >form {
width: 250px;
text-align: left;	
margin: auto;
}

.AddProduct input, .AddProduct button{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.AddProduct h2{
    text-align: center;
}

.AddProduct span{
position: absolute;
margin-left:20px ;
color: red;
}
