html, body , #root{

  margin: 0;
  height: 100%;
  text-align: center;
  color: rgb(38, 61, 37);
  /* background-image: linear-gradient(45deg, rgb(221, 152, 49), white); */
  background-color: burlywood;
}

/* a {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: blue;
}

.Box{
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
} */
