.Layout {
	height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6,1fr);
}

.Layout header{
grid-column: span 6;
}

.Layout main{
    overflow: auto;
    grid-column: span 5;
}
.Layout footer{
    grid-column: span 6;
    }

.Layout, .Layout>*{
    border: 1px solid black;
    overflow: auto;
}